<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>579523686328-dnsoadoh5ur2nojv0mj3lao6ti1hfhir.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.579523686328-dnsoadoh5ur2nojv0mj3lao6ti1hfhir</string>
	<key>API_KEY</key>
	<string>AIzaSyChDsY_lNKxFBV0AaX910kRT9j0UbKCXEQ</string>
	<key>GCM_SENDER_ID</key>
	<string>579523686328</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.c109151119</string>
	<key>PROJECT_ID</key>
	<string>fluttertest-a696e</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttertest-a696e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:579523686328:ios:df2199f2fea8f91595e94d</string>
</dict>
</plist>